test.css
test.html
z3.sh
papers/
*.aux
*.d
*.vo
*.glob
*/.coq-native/
coq/compiled
coq/CoqMakefile
*~
cassius/compiled
reports/*.html
reports/*.json
bench/css/*.rkt
.DS_Store
src/compiled/
geckodriver.log
