# Convention
papers/

# Reports and benchmarks
reports/*.html
reports/*.json
bench/joel
bench/pages/
bench/fwt.rkt
bench/bugs.rkt
bench/induction.rkt
geckodriver.log
cache
previous/

# Racket and TypeScript junk
src/compiled/
__pycache__
capture/all.js

# Platform junk
*.bak
*~
.DS_Store

