#wrapper {
    overflow: hidden;
}

#float {
    background: blue;
    float: left;
    height: 30px;
    float: left;
    width: 50px;
}

#clear {
    clear: left;
    margin-top:50px;
    height: 50px;
    background: red;
    width: 50px;
    clear:left
}
