.box {
    width: 220px;
    height: 220px;
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.item {
    width: 55px;
    height: 55px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: red;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}
