#first {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

#second {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: green;
}

#third {
    position: fixed;
}
