.outer {
    padding: 10px;
    background: darkblue;
    color: white;
    height: 16px;
}

.inner {
    width: 16px;
    height: 16px;
    background: red;
}

#lhs {
    display: inline-block;
}

#rhs {
    float: right;
}
