body {
    margin: 0px;
}

.green {
    background-color: lime;
    height: 40px;
    width: 400px;
    top: 40px;
    left: 727.5px;
    margin-left: -300px;
    position: absolute;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

.red {
    width: 8px;
    height: 19.2px;
    background-color: red;
    position: absolute;
    right: 0px;
}
