@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

html {font-family: 'Raleway', sans-serif; font-size: 18px; line-height: 26px; padding: .5em; }
figcaption { font-size: 16px; line-height: 22px;}

body { max-width: 650px; margin: 1em auto; }

h1, h2, h3 {letter-spacing: .1em; font-weight: 600; clear: both;}
h1 {font-size: 24px; margin: 2em 0 0 0;}
h2 {font-size: 22px; margin: 2em 0 0 0;}

p, li, dd, blockquote, figcaption {
  text-align: justify; margin: .5em 0;
  -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
}

ul { padding-left: 1.4em; }
a {color: #2A6496; text-decoration: none}
a:hover {text-decoration: underline; color: #295785}

header { margin: 1em 0 2em 0; height: 125px; padding: 0; }
header img { float: left; margin-right: 2em; height: 100%; }
header h1 { margin: .5em 0 0 0; clear: right; }
header p { margin: .5em 0 0 0; }
header ul { margin: 0 0; list-style: none inside none; padding: 0; }
header li { float: left; margin: .5em 2em .5em 0; }
header li:last-child { margin-right: 0; }

@media (max-width: 500px) {
    header { height: auto; margin: 0; }
    header img { margin-right: 1em; }
    header h1 { margin-top: .25em }
    header ul { display: flex; justify-content: space-around; }
    header li { float: none; margin: .75em 0; }
}

@media (max-width: 430px) {
    header ul { overflow: auto; clear: both; }
}

#news { list-style: none inside; padding: 0; position: relative; }
#news li { margin-bottom: 12px; margin-left: 70px; }
#news time {
    font-weight: 600; text-align: right;
    position: absolute; left: 0;
    display: block; width: 60px;
}

.abstract { margin: .5em 1em; }

.tool { clear: both; }
.tool img { height: 5em; float: right; margin-left: 1em; }
.tool h2 { clear: left; }

pre.example { font-size: 18px; background-color: transparent; overflow-x: auto; }
figure.video { max-width: 560px; margin: 1em auto; overflow: auto; }
.abstract-link { margin: 1em 1em; display: block; text-align: center; }
.abstract-link::before { content: "🙙"; margin-right: 1em; position: relative; top: -.05em; }
.abstract-link::after { content: "🙛"; margin-left: 1em; position: relative; top: -.05em; }
