body {
  width: 334.9374px;
  height: 373.2607942px;
  margin-top: 0.0px;
  margin-bottom: -1.0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.3005px;
  padding-bottom: 24.4387058px;
  padding-left: 15.0626px;
  padding-right: 50.0px;
  color: #000000;
  background-color: #ff0000;
}
div {
  width: auto;
  height: 71.34593432px;
  margin-top: 2.6995px;
  margin-bottom: 10.0px;
  margin-left: 34.9374px;
  margin-right: auto;
  padding-top: 2.3005px;
  padding-bottom: 26.35356568px;
  padding-left: 15.0626px;
  padding-right: 50.0px;
  color: #000000;
  background-color: #00ff00;
}
