/* Pre-generated header */

body { background: green; }
div { background: blue; }
html { background: white; }

/* Generated code below */

body {
    width: 400px;
    margin: 0 100px;
    height: 334px;
    float: left;
    padding: 66px 100px 0px 100px;
}
div {
    height: 100px;
    margin: 0 0 67px 0;
}
